<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-43GLGHJ;Initial Catalog=DlogicAgriSoft20202021Rajlakshmi;Persist Security Info=True;User ID=Sa;Password=root" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Path" value="F:\Dlogic_Wholesaler\Dlogic_Wholesaler\CrystalR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="isEnglishBill" value="false"/>
  </appSettings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyTokD:\Agri-commanwithAllTemp19-09-2019\Dlogic_Wholesaler\App.configen="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>  DlogicAgrisoft01_04_2019
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
